<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Todo App JavaScript | CodingNepal</title> -->
  <!--<link rel="stylesheet" href="/todoview/todoview.component.css">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style/todoview.css" media="screen" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper" id = "box">
  <div class="header" style="display: flex" *ngIf="selectedList">
    <div class="box-footer clearfix no-border">
      <button routerLink="/list" routerLinkActive="active" type="button"  class="btn btn-default pull-left"><a class="fa fa-arrow-left"></a></button>
    </div>
    <header>{{this.selectedList.name}}</header>
  </div>

  <div class="inputField">
    <form autocomplete="off" #addForm="ngForm" style="display: flex">
      <input type="text" style="width: auto" autocomplete="off" ngModel id="title" name="title" placeholder="New Item">
    </form>
    <button type="button" class="fa fa-plus" (click)="onAddToDo(addForm); "></button>
  </div>
  <ul class="todoList" *ngFor="let toDoItem of toDos">
    <li >
      <input type="checkbox" [checked]="toDoItem.done" (change)="onCompleteToDo(toDoItem)" />
      <a class="title" [routerLink]="['/todo',toDoItem.id]">{{toDoItem.title}} </a>
      <i class="fa fa-edit"  (click)="openModal(toDoItem,'edit')"></i>
      <i class="fa fa-trash-o" (click)="openModal(toDoItem,'delete')"></i>
    </li>
  </ul>

  <!-- delete modal -->
  <div class="modal fade" id="deleteToDoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Delete Item</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Are you sure you want to delete this item?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  id="delete-todoitem-form" onclick="$('#deleteToDoModal').trigger('click.dismiss.bs.modal')">Cancel</button>
          <button (click)="onDeleteToDo(deleteToDo.id)" type="button"  class="btn btn-red">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <script src="script.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript"></script>

</body>
</html>
